form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.3em;
  width: 38%;
  margin: auto;

  div {
    display: flex;
    flex-direction: column;
  }

  label {
    letter-spacing: 1.8px;
    line-height: 1.8em;
    font-size: 0.8em;
  }

  input {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    font-size: 1.1em;
  }
  input:focus {
    outline: none;
    border: 0.2px solid var(--light-violet);
  }

  input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.53);
    opacity: 0.3; /* Firefox */
  }

  .is-invalid {
    border: 0.2px solid var(--red) !important;
  }

  .form-inline {
    display: flex;
    flex-direction: row;

    .expiration-date {
      width: 50%;

      .expiration-date-inputs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        input {
          width: 33%;
        }
      }
    }

    .cvc-container {
      width: 50%;

      display: flex;
      flex-direction: column;
    }
  }

  .msg-error {
    color: var(--red);
    font-size: 0.8em;
    margin-top: 0.8em;
    font-weight: 400;
    margin-left: 3px;
    span {
      display: inline-block;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  button {
    cursor: pointer;
    margin-top: 1vh;
    font-weight: 300;
    width: 100%;
    padding: 0.8em;
    height: 58px;
    border-radius: 0.5em;
    border: none;
    background: var(--very-dark-violet);
    color: var(--white);
    font-size: 1.1em;
    letter-spacing: 1px;
  }

  button:hover {
    background: var(--very-dark-violet);
    opacity: 0.9;
  }
}

@media screen and (max-width: 768px) {
  form {
    width: 90%;
  }
}
