form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.3em;
  margin: auto;


  div {
    display: flex;
    flex-direction: column;

  }

  .form-inline {
    display: flex;
    flex-direction: row;

    .expiration-date {
      width: 50%;
      white-space: nowrap;
      .expiration-date-inputs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        input {
          width: 33%;
        }
      }
    }

    .cvc-container {
      width: 50%;

      display: flex;
      flex-direction: column;
    }
  }

  .msg-error {

    color: var(--red);
    font-size: 0.8em;
    margin-top: 0.8em;
    font-weight: 400;
    margin-left: 3px;
    span {
      display: inline-block;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 1430px) {

}

@media screen and (max-width: 768px) {
  form {
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  form {
    width: 100%;

  }
}
