<section class="container">
  <aside class="bg-gradient">
    <div>
      <div class="card-preview">
        <picture class="card-front">
          <img src="../assets/images/bg-card-front.png" alt="Credit Card" />
        </picture>

        <picture class="card-back">
          <img src="../assets/images/bg-card-back.png" alt="Credit Card" />
        </picture>
      </div>
    </div>
  </aside>

  <section class="form-container">
    <app-form-credit-card></app-form-credit-card>
  </section>
</section>

<!-- Thank you! We've added your card details Continue -->
